
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos gerais */
body {
    background-color: #FFE6D9;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    text-align: center;
    background-color: #54b9CC;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

label {
    font-weight: bold;
    display: block;
    
}

input[type="number"],
input[type="radio"],
textarea {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: #54b9CC;
}

input[type="submit"] {
    background-color: #FE251B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilização para os radios e checkboxes */
input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

/* Ajuste de margens e espaçamento para a pergunta sobre doenças */
#disease {
    margin-bottom: 20px;
}

/* Estilo para o botão de envio */
input[type="submit"] {
    display: block;
    margin: 20px auto;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-color:#FE251B;
}

input[type="radio"]:checked + label:before {
    background-color: #FE251B;
    border-color: #FE251B;
}

input[type="radio"]:checked:before {
    background: #FE251B;
}

/* Estilização para o campo de texto da pergunta sobre doenças */
textarea {
    resize: vertical;
}

/* Estilização para o botão de envio quando o mouse estiver sobre ele */
input[type="submit"]:hover {
    background-color: #c0392b;
}

/* Estilização para o botão de envio quando estiver focado */
input[type="submit"]:focus {
    outline: none;
}

/* Estilos para o campo de idade */
.age-wrapper {  
    width: 50%; /* Ajuste a largura conforme necessário */

}

/* Estilos para o campo de peso */
.weight-wrapper {
    width: 50%; /* Ajuste a largura conforme necessário */
}

.pergunta {
    margin-bottom: 10px;
  }
  
.botao-radio {
    margin-left: 20px;
  }
  
.disease_textbox textarea{
    width: 100%;
}

.large-textarea {
    width: 80%; /* Ajuste a largura conforme necessário */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 10%;
    padding: 30px 0;
    background-color: #FFE5D9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
    text-align: center;
}

.sidebar-links {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 16px;
    list-style: none;
}

.sidebar-links > a {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    font-size: 16px;
    color: #FE251B;
    font-weight: 400;
    text-decoration: none;
}

.sidebar-links > a:hover {
    color: #FFE5D9;
    background-color: #54B9CC;
    transition: background-color 0.4s ease;
}

.sidebar > h2 {
    justify-self: center;
}