@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFE5D9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;    
}

.circle1 {
    width: 500px;
    height: 500px;
    content: "";
    border-radius: 50%;
    background-color: #ff1a1a;
    position: absolute;
    margin-right: 80%;
    margin-top:30%;
    opacity: 0.5;
    top: 75px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.circle2 {
    width: 500px;
    height: 500px;
    content: "";
    border-radius: 50%;
    background-color: #ff1a1a;
    position: absolute;
    margin-right: 30%;
    opacity: 0.5;
    bottom: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.circle3 {
    width: 500px;
    height: 500px;
    content: "";
    border-radius: 50%;
    background-color: #ff1a1a;
    position: absolute;
    right: -100px;
    margin-top:30%;
    opacity: 0.5;
    top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.login-container-cadastro {
    background-color: #54B9CC;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 1000px;
    height: 550px;
    position: absolute;
}

.login-container h1 {
    margin-top: 0;
    color: #FFE5D9;
}

.login-container-cadastro input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #FFE5D9;
}

#btncadastrar {
    background-color: #1f788a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 5%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#btnvoltar {
    background-color: #47b3c8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-container-cadastro input[type="text"],
.login-container-cadsatro input[type="password"],
.login-container-cadastro input[type="email"] {
    color: #FE251B;
    outline: none;
}

#btncadastrar:hover {
    background-color: #FE251B;
}

#btnvoltar:hover {
    background-color: #FE251B;
}