/*
vermelho - #FE251B
creme - #FFE5D9
azul - #54B9CC
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #54B9CC;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
}

.content {
    flex: 1;
    margin-left: 10%;
    width: 80%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
}

.parte-container {
    flex: 1;
    flex-basis: 0;
    padding: 30px;
    margin: 20px;
    background-color: #FFE5D9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#baixo {
    background-color: #FFE5D9;
    padding: 30px;
    margin: 20px;
    margin-top: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 10%;
    padding: 30px 0;
    background-color: #FFE5D9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
    text-align: center;
}

.sidebar-links {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 16px;
    list-style: none;
}

.sidebar-links > a {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    font-size: 16px;
    color: #FE251B;
    font-weight: 400;
    text-decoration: none;
}

.sidebar-links > a:hover {
    color: #FFE5D9;
    background-color: #54B9CC;
    transition: background-color 0.4s ease;
}

.sidebar > h2 {
    justify-self: center;
}

/*---------- GRÁFICO DE NÍVEIS DE SANGUE (PARTE ESQUERDA) ----------*/

#texto-niveis-sangue{
    color: #FE251B;
    font-size: x-large;
    margin-top: 0;
    height: 15%;
}

.grafico-nivel-sangue {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 75%;
    position: relative;
}

.barra{
    width: calc((70% - 14px) / 8);
    height: 0;
    min-height: 10%;
    background: linear-gradient(to top, #ff362b, #ff0000);
    margin: 0 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 5px;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    transition: height 1s ease;
}

.porcentagem{
    position: absolute;
    top: -20px;
    color: #FE251B;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.barra > p{
    color: #FFE6D9;
    font-weight: bold;
    margin: 0; 
}

.linha{
    position: absolute;
    width: 96%;
    height: 2px;
    background-color: #54B9CC;
    opacity: 0.5;
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.pct-linha{
    position: absolute;
    left: -4.1vh;
}

#linha-cem{
    top: -2%;
}

#linha-oitenta{
    top: 18%;
}

#linha-sessenta{
    top: 38%;
}

#linha-quarenta{
    top: 58%;
}

#linha-vinte{
    top: 78%;
}

#linha-zero{
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to top, #5ebacc, #19a8c5);
}

/*---------- CONTADOR DE DIAS RESTANTES (PARTE DIREITA) ----------*/

.contador-dias-restantes{
    width: 20vw;
    height: 20vw;
    background-color: #54B9CC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFE5D9;
    font-size: 24px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/*---------- BANCOS DE SANGUE NA REGIÃO (PARTE DE BAIXO) ----------*/

#texto-locais-doacao{
    margin: 0;
    margin-bottom: 5px;
    color: #FE251B;
    font-size: x-large;
}

.bancos-de-sangue{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 38vh;
    padding: 10px;
    padding-bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.banco-de-sangue{
    min-width: 18%;
    max-width: 15%; /*largura*/
    min-height: 280px;
    max-height: 80%; /*altura*/
    margin: 10px;
    padding: 20px;
    background-color: #FFE5D9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.banco-de-sangue:hover {
    background-color: #54B9CC;
}

.banco-de-sangue > h2{
    color: #FE251B;
    font-size: large;
    font-weight: 900;
}

.banco-de-sangue > p{
    color: #FE251B;
    font-size: small;
}

::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #ff4f46, #ff0000);
    border-radius: 10px;
}