@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');:root {
    --vermelho: #fe251b;
    --azul: #54b9cc;
    --bg: #FFe5d9;
    --txt-clr-dark: #c5c5c5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}
.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0,0.4);
    background-color: var(--azul);
}
.esquerda {
    width: 60%;
    padding: 20px;
}
.calendario {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
}
.calendario::before,
.calendario::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d5d6d7;
    transform: translateY(-50%);
}
.calendario::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
}
.calendario .mes {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendario .mes .prev,
.calendario .mes .next {
    cursor: pointer;
}
.calendario .mes .prev:hover,
.calendario .mes .next:hover {
    color: var(--azul);
}
.calendario .dias-semana {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendario .dias-semana div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendario .dias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.calendario .dias .dia {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--azul);
    border: 1px solid #f5f5f5;
}
.calendario .dia:not(.mes-pass, .prox-mes):hover {
    color: #fff;
    background-color: var(--vermelho);
}
.calendario .dias .mes-pass,
.calendario .dias .prox-mes {
    color: #b3b3b3;
}
.calendario .dias .ativo {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--vermelho);
}
.calendario .dias .ativo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--vermelho);
}
.calendario .dias .hoje {
    font-size: 2rem;
}
.calendario .dias .evento {
    position: relative;
}
.calendario .dias .evento::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--vermelho);
}
.calendario .evento:hover::after {
    background-color: #fff;
}
.calendario .ativo.evento::after {
    background-color: #fff;
    bottom: 20%;
}
.calendario .ativo.evento {
    padding-bottom: 10px;
}
.calendario .ir-para-hoje {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--azul);
}
.calendario .ir-para-hoje .ir-para {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--azul);
}
.calendario .ir-para-hoje .ir-para input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--azul);
    border-radius: 5px;
}
.calendario .ir-para-hoje button {
    padding: 5px 10px;
    border: 1px solid var(--azul);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--azul);
}
.calendario .ir-para-hoje button:hover {
    color: #fff;
    background-color: var(--vermelho);
}
.calendario .ir-para-hoje .ir-para button {
    border: none;
    border-left: 1px solid var(--vermelho);
    border-radius: 0;
}
.container .direita {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;

}
.direita .data-hoje {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.direita .data-hoje .dia-evento {
    font-size: 2rem;
    font-weight: 500;  
}
.direita .data-hoje .data-evento {
    font-size: 1rem;
    font-weight: 400;
    color: var(--txt-clr-dark);
}
.eventos {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}
.eventos .evento {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    background: linear-gradient(90deg, var(--azul), transparent);
    cursor: pointer;
}
.eventos .evento:nth-child(even) {
    background: transparent;
} 
.eventos .evento:hover {
    background: linear-gradient(90deg, var(--vermelho), transparent);
}
.eventos .evento .titulo {
    display: flex;
    align-items: center;
    pointer-events: none;
}
.eventos .evento .titulo .titulo-evento {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
}
.eventos .evento i {
    color: var(--vermelho);
    font-size: 0.5rem;
}
.eventos .evento:hover i,
.eventos .evento:hover .hora-evento {
    color: #fff;
}
.eventos .evento .hora-evento {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--txt-clr-dark);
    margin-left: 15px;
    pointer-events: none;
}
.eventos .evento::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--vermelho);
    transform: translateY(-50%);
}
.eventos .evento:hover::after {
    display: flex;
}
.eventos .sem-evento{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--txt-clr-dark);
}
.add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s;
}
.add-event-wrapper .title {
    color: var(--vermelho);
}
.add-event-wrapper.active {
    max-height: 300px;
}
.add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--azul);
    border-bottom: 1px solid #f5f5f5;
}
.add-event-header .close {
    color: var(--vermelho);
    font-size: 1.5rem;
    cursor: pointer;
}
.add-event-header .close:hover {
    color: var(--azul);
}
.add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
}
.add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--vermelho);
}
.add-event-body .add-event-input input::placeholder {
    color: #a5a5a5;
}
.add-event-body .add-event-input input:focus {
    border-color: var(--vermelho);
}
.add-event-body .add-event-input input:focus::placeholder {
    color: var(--vermelho);
}
.add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--vermelho);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--vermelho);
}
.add-event-btn:hover {
    color: var(--vermelho);
    background-color: transparent;
}
.add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #878895;
    border: 2px solid #878895;
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.add-event:hover {
    color: var(--vermelho);
    border-color: var(--vermelho);
    opacity: 1;
}
.add-event i {
    pointer-events: none;
}

/* Responsividade */

@media(max-width: 1000px){
    body{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .container {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }
    .container .esquerda,
    .container .direita {
        width: 100%;
        height: 100%;
        padding: 20 0;
    }
    .calendario::before,
    .calendario::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }
    .calendario::before {
        width: 94%;
        top: calc(100% + 12px);
    }
    .eventos {
        padding-bottom: 340px;
    }
    .add-event-wrapper {
        bottom: 100px;
    }
}
@media (max-width: 500px) {
    .calendario .mes {
        height: 75px;
    }
    .calendario .dias-semana {
        height: 50px;
    }
    .calendario .dias .dia {
        height: 40px;
        font-size: 0.8rem;
    }
    .calendario .dias .dia.ativo,
    .calendario .dias .dia.hoje {
        font-size: 1rem;
    }
    .direita .data-hoje{
        padding: 20px;
    }
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 10%;
    padding: 30px 0;
    background-color: #FFE5D9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
    text-align: center;
}

.sidebar-links {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 16px;
    list-style: none;
}

.sidebar-links > a {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    font-size: 16px;
    color: #FE251B;
    font-weight: 400;
    text-decoration: none;
}

.sidebar-links > a:hover {
    color: #FFE5D9;
    background-color: #54B9CC;
    transition: background-color 0.4s ease;
}

.sidebar > h2 {
    justify-self: center;
}